<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Skills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Technical skills</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          HTML & CSS</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.75"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Javascript</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.5"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Python</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.5"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          UX & UI</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.9"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Ionic framework</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.5"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Prototyping</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.85"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          GitHub</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.85"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Scrum</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.85"></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Soft skills</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          Teamwork</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.95"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Problem solving</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.75"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Communication</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.95"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Leadership</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.8"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Organizational skills</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.6"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Flexibility & adaptability</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.85"></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Language</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          Dutch</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="1"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          English</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="1"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          French</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.5"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Finnish</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.25"></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Other</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          Office 365</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.95"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Wordpress</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.75"></ion-progress-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Adobe CC</ion-col>
        <ion-col size="6">
          <ion-progress-bar value="0.65"></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-content>
