<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Personal info</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About me</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-icon name="person-outline"></ion-icon></ion-col>
          <ion-col size="8">
            Roel Verscheure
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-icon name="gift-outline"></ion-icon></ion-col>
          <ion-col size="8">
            13/04/1987
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-icon name="storefront-outline"></ion-icon></ion-col>
          <ion-col size="8">
            Kerava, Finland
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-icon name="globe-outline"></ion-icon></ion-col>
          <ion-col size="8">
            Belgian
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Extra curriculum</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-icon name="musical-notes-outline"></ion-icon>
              </ion-col>
              <ion-col size="8">
                Music
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-icon name="camera-outline"></ion-icon>
              </ion-col>
              <ion-col size="8">
                Photography
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-icon name="pencil-outline"></ion-icon>
              </ion-col>
              <ion-col size="8">
                Writing
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-icon name="flask-outline"></ion-icon>
              </ion-col>
              <ion-col size="8">
                Science
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-icon name="rocket-outline"></ion-icon>
              </ion-col>
              <ion-col size="8">
                Technology
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-icon name="game-controller-outline"></ion-icon>
              </ion-col>
              <ion-col size="8">
                Gaming
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="3">
                <ion-icon name="desktop-outline"></ion-icon>
              </ion-col>
              <ion-col size="8">
                Programming classes on Udacity
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
        </ion-card>

  
</ion-content>
  