<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Resume</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Resume</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="card-background-page">
    <ion-card class="ion-text-center" routerLink="/info">
      <img src="../assets/images/About Me.png"/>
    </ion-card>
    <ion-card class="ion-text-center" routerLink="/experience">
      <img src="../assets/images/experience.jpeg"/>
    </ion-card>
    <ion-card class="ion-text-center" routerLink="/skills">
      <img src="../assets/images/skills2.jpg"/>
    </ion-card>
    <ion-card class="ion-text-center" routerLink="/projects">
      <img src="../assets/images/project image.jpg"/>
    </ion-card>
  </ion-content>
</ion-content>
