.item-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 175px !important;  //any size
    max-height: 175px !important; //any size 
    margin: auto;
}

.item-card {
    padding: 15px;
}