ion-row {
    margin-bottom: 15px;
  }

  .underline {
    text-decoration: underline;
  }

  .spacing {
    letter-spacing: 5px;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .color {
    color: magenta;
  }