<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-content>
    <div>
    <ul class="timeline">

      <!-- Item 1 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">BBA, Business Information Technology</span>
            <span class="time-wrapper"><span class="time">2019 - present</span></span>
          </div>

        </div>
      </li>

    <!-- Item 2 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Cerulean Midnight (PR & Marketing)</span>
          <span class="time-wrapper"><span class="time">2019</span></span>
        </div>

      </div>
    </li>

      <!-- Item 3 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">Integration course Careeria</span>
            <span class="time-wrapper"><span class="time">2018 - 2019</span></span>
          </div>

        </div>
      </li>

      <!-- Item 4 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">Suomen kielen ja kulttuurin koulutus</span>
            <span class="time-wrapper"><span class="time">2017 - 2018</span></span>
          </div>

        </div>
      </li>

      <!-- Item 5 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">ICT Truck & Trailer Parts</span>
            <span class="time-wrapper"><span class="time">2016</span></span>
          </div>

        </div>
      </li>

      <!-- Item 6 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">SAS Automotive</span>
            <span class="time-wrapper"><span class="time">2014 - 2016</span></span>
          </div>

        </div>
      </li>

      <!-- Item 7 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">Professional bachelor secondary education teacher</span>
            <span class="time-wrapper"><span class="time">2011 - 2016</span></span>
          </div>

        </div>
      </li>

      <!-- Item 8 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">Fyxxilab</span>
            <span class="time-wrapper"><span class="time">2016</span></span>
          </div>

        </div>
      </li>

      <!-- Item 9 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">Scouting</span>
            <span class="time-wrapper"><span class="time">2005 - 2010</span></span>
          </div>

        </div>
      </li>

    </ul>
  </div>
  </ion-card-content>
</ion-card>
</ion-content>
