<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="./assets/images/GRIMM site.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Website</ion-card-subtitle>
      <ion-card-title>www.grimmgent.com</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Webmaster content Wordpress site & co-developer.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="./assets/images/PHP-SQL Music App.jpg" />
    <ion-card-header>
      <ion-card-subtitle>School project</ion-card-subtitle>
      <ion-card-title>PHP/SQL web application</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Team project learning how to create an interactive web application through PHP and SQL.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="./assets/images/recipe app.png" />
    <ion-card-header>
      <ion-card-subtitle>School project</ion-card-subtitle>
      <ion-card-title>Mobile app: Recipe book</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Team project learning how to create a mobile app through the Ionic platform with Angular.
    </ion-card-content>
  </ion-card>
</ion-content>
